<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta th:replace="fragments::meta">
    <link th:replace="fragments::common-style">
    <link th:replace="fragments::font-awesome">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <title>Login</title>
</head>
<body>
<div th:replace="fragments::navigation-bar"></div>
<h2>Login</h2>


<form class="loginForm" th:action="@{/login}" action="/login" method="post">
    <div th:if="${param.error}" class="errors">
        Invalid username and password.
    </div>
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" id="username" name="username" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" id="password" name="password" required>

    <button id="submit" type="submit">Login</button>
    <a th:href="@{/signup}">Sign up</a>
</form>
<script th:replace="fragments::loader"></script>
<script th:src="@{/javascript/navigationBar.js}"></script>
<script th:src="@{/javascript/login.js}"></script>
</body>
</html>
